<div class="container">
    <div class="main">
        <div class="box">
            <angular2-multiselect [data]="regionOne" [(ngModel)]="regionOneItems" [settings]="dropdownSettings"
                (onSelect)="check()" (onDeSelect)="check()">
            </angular2-multiselect>
        </div>

        <div class="box">
            <angular2-multiselect [data]="regionTwo" [(ngModel)]="regionTwoItems" [settings]="dropdownSettings"
                (onSelect)="check()" (onDeSelect)="check()">
            </angular2-multiselect>
        </div>
    </div>
    <div class="button">
        <button class="btn" [disabled]="disable" (click)="submit()">Submit</button>
    </div>
</div>
